extends layout

block content
    .col-md-12
        if errors
            each err in errors
                p.alert.alert-danger #{err.msg}
        .mt-5
            img.img-fluid.rounded.mx-auto.d-block(src='/images/logo-text-02.png', style='width: 15%')
            .d-flex.justify-content-center
                form(name='login', method='post')
                        .form-group
                            label(for="inputUsername") Usuario
                            input.form-control(type='text', name='username', placeholder='Usuario')
                            .invalid-feedback Ingresa un Usuario.
                        .form-group
                            label(for="inputPassword") Contraseña
                            input.form-control(type='password', name='password', placeholder='Contraseña')
                            .invalid-feedback Ingresa una contraseña.
                        .d-flex.justify-content-center.mt-4
                            button.btn.btn-primary.btn-block(type='submit') Login